html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	
}

.contain{
	position: relative;
	width: 100%;
	max-width: 1500px;
}

.btn{
	position: absolute;
	top: 40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	left: 6%;
}

.btn:hover{
	background-color: rgb(1, 20, 43);
	color: rgb(226, 226, 226);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.596), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.knowMe{
	display: inline-block;
    color: rgb(0, 0, 0);
	font-family: "Roboto", sans-serif;
    position: absolute;
	top: 90%;
	letter-spacing: .3rem;
    padding-left: 6%;
	font-weight: 400;
	font-size: 1rem;
}



.headings{
	text-decoration-line: overline; 
	padding-top: 50px;
	font-family: 'Karla', sans-serif;
	margin-left: 110px;
	color: rgba(1, 26, 54, 0.829);
	text-decoration-color: rgba(1, 26, 54, 0.829);
}

h6{
	margin-left: 110px;
	max-width: 60%;
	color: black;
}



.profilePhoto{
	margin-top: 30px;
	width: 250px;
	display: flex;
	float: right;
	height: 250px;
}

/*--------cards----------*/
.card1{
	max-width: 70%;
}

  .avtaar{
	width: 50%;
	height: 50%;
	margin-left: 25%;
	display: flex;
	margin-top: 5%;
}

.top{
	display: flex;
	flex-direction: row;
	flex-wrap: 60%;
	align-items: left;
}

  /* card ends here */


  #topBtn {
	position: fixed;
	bottom: 20px;
	right: 30px;
	align-items: center;
	z-index: 105;
	font-size: 22px;
	border: none;
	align-content: center;
	max-width: 80%;
	max-height: 20%;
	background-color: rgba(1, 26, 54, 0.829);
	color: white;
	padding: 15px;
	cursor: pointer;
	transition: 0.2s ease-in;
	border-radius: 100%;
	
  }
  
  #topBtn:hover {
	background-color: rgba(0, 6, 43, 0.753);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664);
  }

  #contactUs{
		background-color: rgba(241, 246, 255, 0.747);
  }

  form{
	  min-height: 70vh;
	  overflow-x: hidden;
	  margin-top: 50px;
	  color: black;
	  font-size: 18px;
  }

  .Submit{
	display: block;
	position: relative;
	width: 280px;
	margin-left: 110px;
	margin-top: 60px;
	background-color: rgb(68, 86, 119);
	color: rgb(255, 253, 253);
	border: none;
	outline: none;
	font-size: 24px;
	border-radius: 30px;
	padding: 8px;
	font-family:  'Libre Franklin', sans-serif;
	cursor: pointer;
	transition: 0.4s ease-in;
  }

  .Submit:hover{
	  background-color: rgba(1, 26, 54, 0.829);
  }
